<p
  style="
    font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif,
      monospace;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1.5;
  "
>
  <br />
</p>
<h1
  style="
    letter-spacing: 1%;
    text-align: center;
    padding-left: 2%;
    font-weight: 700;
    color: #24a98b;
    font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif,
      monospace;
  "
>
  {{ title }}
</h1>

<p
  style="
    font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif,
      monospace;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 1.5;
    text-align: center;
  "
>
  {{ description }}
</p>
