<div style="
padding-left: 2%;
padding-right: 2%;
">
    <p style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace;
    line-height: 1.5;
    color: #564DC2;
    font-weight: 700;
    font-style: italic;" class="detail">{{ subheader }}</p>
    <p style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace;
    line-height: 1.5;">{{ text | urlize }}</p>
</div>