<table width="100%" style="margin: 0.5em;">
    <tr>
        <td>
            <p style="
            font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif,
            monospace;
            color: #ff78bb;
            font-weight: 700;
            padding-left: 2%;
            margin-top: 2em;
            line-height: 1.5;
            ">{{ endingNote }}</p>
        </td>
    </tr>
    <tr>
        <td class="two-columns" style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding-left: 15px;">

            <table class="column1" style="flex-grow: 0;">
                <tr>
                    <td class="padding" style="padding: 5px;">

                        <table class="content" style="padding: 0 5px;">
                            <tr>
                                <td>
                                    <a href="#"><img
                                            src="https://raw.githubusercontent.com/ssss-sfu/newsletter/main/src/img/logo.png"
                                            width="70" style="max-width: 70px; "></a>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="column2" style="flex-grow: 2;">
                <tr>
                    <td class="padding" style="padding: 5px;">
                        <p
                            style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace;font-size: 18px; color: #24a98b; font-weight:700">
                            {{ name }}</p>
                        <p
                            style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace; font-size: 15px;">
                            {{ position }}</p>
                        <p
                            style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace;font-size: 15px;">
                            <strong
                                style="font-family: 'Dm Sans', 'Trebuchet MS', Consolas, Arial, sans-serif, monospace;">Software
                                Systems Student
                                Society</strong>
                        </p>
                    </td>
                </tr>
            </table>
</table>