.authorprofile {
  margin: 1em;
}

.authorprofile > tr > td:not(:first-child) {
  margin-left: 2em;
}

.society-logo {
  width: 70px;
}

.authorprofile-details {
  margin-left: 1em;
}

.authorprofile .authorprofile-details .authorprofile-name {
  font-family: "Dm Sans", "Trebuchet MS", Consolas, Arial, sans-serif, monospace;
  font-size: 18px;
  color: #24a98b;
  font-weight: 700;
}

.authorprofile .authorprofile-details .authorprofile-position {
  font-size: 15px;
}

.authorprofile .authorprofile-details .authorprofile-society {
  font-weight: bold;
}
