.authorprofile {
  margin: 1em 1em 1em 0;
}

.society-logo {
  width: 70px;
}

.authorprofile-details {
  margin-left: 1em;
}

.authorprofile .authorprofile-details .authorprofile-name {
  font-size: 18px;
  color: #24a98b;
  font-weight: 700;
}

.authorprofile .authorprofile-details .authorprofile-position {
  font-size: 15px;
}

.authorprofile .authorprofile-details .authorprofile-society {
  font-weight: bold;
}
