.newsletterfooter {
  background-color: #0b151c;
  text-align: center;
  padding: 2em;
  color: white;
}

#newsletterfooter-banner {
  width: 280px;
  display: inline-block;
}

.newsletterfooter a {
  color: white;
}

.newsletterfooter:first-child {
  padding-top: 0;
}

.newsletterfooter-icons img {
  width: 30px;
}
