.newsletter {
  background-color: white;
  width: 600px;
  margin:0 auto;
}

.newsletter-content {
  padding: 1.25em;
}

.newsletter-title {
  font-weight: 700;
  color: #24a98b;
}

.newsletter-summary {
  text-align: justify;
  margin-top: 0.5em;
}

.newsletter-banner {
  width: 100%;
}

.newsletter-newsitems {
  width: 100%;
}

.newsletter-flair {
  color: #ff78bb;
  font-weight: 700;
  margin-top: 2em;
}
