.NewsItemTitle {
  font-family: "Dm Sans", "Trebuchet MS", Consolas, Arial, sans-serif, monospace;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: 500;
  color: #24a98b;
  line-height: 1.2;
}
