.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div,
.ExternalClass b,
.ExternalClass br,
.ExternalClass img {
  line-height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
}

#letter-page {
  background-color: #dae5ef;
  font-family: "Dm Sans", "Trebuchet MS", Consolas, Arial, sans-serif, monospace;
  color: #0B151C;
}

table td {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
table tr {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
table tbody {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0 !important;
}
span.yshortcuts,
a span.yshortcuts {
  color: #000001;
  background-color: none;
  border: none;
}
span.yshortcuts:hover,
span.yshortcuts:active,
span.yshortcuts:focus {
  color: #000001;
  background-color: none;
  border: none;
}
img {
  -ms-interpolation-mode: bicubic;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
/**** My desktop styles ****/
@media only screen and (min-width: 600px) {
  .noDesk {
    display: none !important;
  }
  .td-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .padding-container {
    padding: 0px 15px 0px 15px !important;
    mso-padding-alt: 0px 15px 0px 15px !important;
  }
  .mobile-column-left-padding {
    padding: 0px 0px 0px 0px !important;
    mso-alt-padding: 0px 0px 0px 0px !important;
  }
  .mobile-column-right-padding {
    padding: 0px 0px 0px 0px !important;
    mso-alt-padding: 0px 0px 0px 0px !important;
  }
  .mobile {
    display: none !important;
  }
}

/**** My mobile styles ****/
@media only screen and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 1) {
  *[class].wrapper {
    width: 100% !important;
  }
  *[class].container {
    width: 100% !important;
  }
  *[class].mobile {
    width: 100% !important;
    display: block !important;
  }
  *[class].image {
    width: 100% !important;
    height: auto;
  }
  *[class].center {
    margin: 0 auto !important;
    text-align: center !important;
  }
  *[class="mobileOff"] {
    width: 0px !important;
    display: none !important;
  }
  *[class*="mobileOn"] {
    display: block !important;
    max-height: none !important;
  }
  p[class="mobile-padding"] {
    padding-left: 0px !important;
    padding-top: 10px;
  }
  .padding-container {
    padding: 0px 15px 0px 15px !important;
    mso-padding-alt: 0px 15px 0px 15px !important;
  }
  .hund {
    width: 100% !important;
    height: auto !important;
  }
  .td-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .mobile-column-left-padding {
    padding: 18px 0px 18px 0px !important;
    mso-alt-padding: 18px 0px 18px 0px !important;
  }
  .mobile-column-right-padding {
    padding: 18px 0px 0px 0px !important;
    mso-alt-padding: 18px 0px 0px 0px !important;
  }
  .stack {
    width: 100% !important;
  }
  *[class="hide"] {
    display: none !important;
  }
  *[class="Gmail"] {
    display: none !important;
  }
  .Gmail {
    display: none !important;
  }
  .bottom-padding-fix {
    padding: 0px 0px 18px 0px !important;
    mso-alt-padding: 0px 0px 18px 0px;
  }
}
* {
  margin: 0;
  border: 0;
  padding: 0;
}

.ml-s {
  margin-left: 2em;
}

.mt-s {
  margin-top: 1.5em;
}
